<!DOCTYPE html>
<html>
    <body>
        <h1>Add tote to database</h1>
        <form method="post" action = "/add">
            <div class = "form-group">
                <input type="text" name = "warehouse" value="Warehouse:">
                <input type="text" name = "tote_num" value="Tote #:">
                <input type="text" name = "physical_id" value="Physical Id:">
                <input type="text" name = "thing_board_id" value="Thing Board Id:">

            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </body>
</html>